body{
    color: white;
}

#titulo {
    position: fixed;
    box-shadow: 0px 0px 5px white;
}

.flutuarADireita{
    float: right !important;
}

.wrapper{
    width: 100%;
    height: 170%;
    background: rgba(0,0,0,0.4);
}

.modalBrancoTransparente{
    background: rgba(255, 255, 255, 0.3);
}

.modalMetade{
    width: 50%;
}

.centro {
    margin: 0 auto;
}

.bordasRedonda{
    border-radius: 10px;
}

.textoBranco{
    color: white !important;
}

#btCadastro{
    font-size: 20px;
    color: white;
    background: #3399ff;
    padding: 10px;
    border-radius: 10px;
}

form img{
    margin: 10px;
    width: 220px;
    height: 220px;
}

.botaoPequeno{
    background: #3399ff;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 10px;
}

input[type="date"]{
    color: #b8b8b8;
}

.botaoMedio{
    color: black;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border:transparent;
}

.margin-top{
    margin-top: 20px;
}

.botaoPequeno:hover{
    transition-duration: 1s;
    color: black;
    background: #777;
}

.botaoMedioEspecial{
    color: black;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border:transparent;
}

.botaoMedio:focus{
    box-shadow: 0px 0px 20px #3399ff;
}

.botaoMedioEspecial:focus{
    box-shadow: 0px 0px 20px #3399ff;
}

#btCadastro:hover{
    transition-duration: 2s;
    box-shadow: 0px 0px 20px white;
}

.menuNavegacao{
    text-align: center !important;
    list-style: none !important;
    margin: 0 auto;
    padding: 0px;
}

.generosTexto{
    font-size: 140%;
}

.pretoOpaco{
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    background: #000;
    opacity: 0.3;
}

.pretoOpaco ul li{
    margin: 5px;
}

.pretoOpaco ul li:hover{
    background: #3399ff;
    border-radius: 10px;
}

.white-background{
    background: #f2eded;
}

.brancoOpaco{
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
    background: white;
    opacity: 0.6;
}

.brancoOpaco ul li{
    margin: 5px;
}

.brancoOpaco ul li:hover{
    background: #3399ff;
    border-radius: 10px;
}

.rodapeFixo{
    border: none;
    background: #3399ff;
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
}

.espacamento{
    margin: 4px;
}

.espacoEmCima{
    margin-top: 6px;
}

.volume{
    background: white;
    color: black;
    border: none;
    border-radius: 20%;
    padding-right: 8px;
    padding-left: 8px;
}

.flutuarSomenteAdireita{
    float: right !important;
}

.gray-background{
    height: 1200px;
    background-image: url("../imagens/white.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.textoPreto {
    color: black;
}

.textVermelho{
    color: red;
}

.nav-perfil{
    transition-duration: 0.3s;
    box-shadow: 0px 1px 5px #000;
    padding: 10px;
    background: #0c6eae;
    width: 100%;
    height: 50px;
    z-index: 2 !important;
}

.img-perfil{
    margin-right: 8px;
    width: 30px;
    height: 30px;
}

.margin-rigth{
    margin-right: 10px;
}

.img-filme {
    width: 300px !important;
    height: 200px !important;
}
.nav-perfil-maior{
    transition-duration: 0.8s;
    box-shadow: 0px 2px 5px #000;
    padding: 10px;
    background: #0a486f;
    width: 100%;
    height: 150px;
    z-index: 2 !important;
}

.textArea{
    resize: none;
    height: 120px;
}

.posicaoRelativa{
    position: relative;
}

.margin-top-body{
    margin-top: 70px;
}

.fundoCompleto {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.fundoCompletoEscuro{
    margin-top: -70px;
    background: #000;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.modalGrupo{
    margin-top: 300px;
    border-radius: 10px;
    background: #777;
}

.barraLateralDireita{
    background: #0c6eae;
    width: 0%;
    height: 100%;
}

.sobraEsquerda{
    width: 69%;
    height: 100%;
    float: left;
}

.botaoDeUsuario{
    background: none !important;
    border: none !important;
}


@media(max-width: 575px){
    .botaoPequeno{
        margin-top: 20px;
        width: 60%;
    }
    
    .brancoOpaco{
        width: 100%;
    }
    
    .flutuarADireita{
        float: none !important;
    }
    
    .nav-tabs{
        float: none !important;
        border-bottom: none !important;
    }
    
    .botaoMedio{
        width: 100%;
    }
    
    .modalMetade{
        width: 90%;
    }
    
    .modalGrupo{
        margin-top: 150px;
    }
    
    .botaoMedioEspecial{
        width: 80%;
    }
}

